# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName envitrum.com
AuthUserFile /home/envitru1/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/envitru1/public_html/_vti_pvt/service.grp
